*{
    background-color: rgb(35, 36, 37);
}

#heading
{
    margin-left: 35%;
    margin-right: 35%;
    border: 10px solid crimson;
    border-radius: 5px;
    color: beige;
    text-align: center;
    margin: auto;
    width: 50%;
    margin-top: 50px;
}

#div1
{
    display: flex;
}

.web_dev
{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: medium;
    margin-top: 40px;
    padding: 20px;
    text-align: center;
    margin-left: 75px;
    margin-right: 50px;
    background-color: rgba(220, 20, 60, 0.267);
    color: beige;
    border-radius: 5px;
}

.cog{
    border: 3px solid grey ;
    border-radius: 5px;
    margin-left: 50px;
    margin-top: 75px;
    height: 350px;
    width: 400px;
}

img:hover
{
    border-color: black;
    border-radius: 100%;
    transition: 1s;
}

.link
{
    border-radius: 5px;
    background-color: rgba(220, 20, 60, 0.267);
    margin-left: 50px;
    margin-right: 800px;
    margin-top: 20px;
    color: beige;
}

a:hover{
    background-color: rgb(241, 149, 27,);
    color: rgb(241, 149, 27);
    font-size: large;
    transition: .75s;
}

#footer
{
    background-color:rgba(241, 182, 114, 0.315);
    margin-top: 30px;
    margin-left: 50px;
    margin-right: 50px;
    padding: 20px;
    border-radius: 5px;
}

.logo
{
    margin-left: 30px;
    margin-top: 20px;
    height: 20px;
    width: 20px;
}

.link2
{
    background-color:rgba(241, 182, 114, 0.315);
    color: rgb(14, 9, 58);
}